**/pyglet/
# episode 1 to episode 10 pip packages above
**/base36.py
**/nbtlib/
**/numpy/
**/numpy.libs/
# packages for episode 11
*.pyc
*.core
*.log
.vscode
*.ogg
*.sw[nop]
*.so
*.c
*.so
*.html
*.cache
dist
build
*.egg-info
*.prof
# pip packages and pycache below
**/__pycache__/
**/venv/
**/_distutils_hack/
**/distutils-precedence.pth
**/*dist-info/
**/pip/
**/setuptools/
**/pkg_resources/
