**/pyglet/
# episode-1 pip packages above
*.pyc
*.core
*.log
.vscode
*.ogg
*.sw[nop]
*.so
*.c
*.so
*.html
*.cache
dist
build
*.egg-info
*.prof
# pip packages and pycache below
**/__pycache__/
**/venv/
**/_distutils_hack/
**/distutils-precedence.pth
**/*dist-info/
**/pip/
**/setuptools/
**/pkg_resources/
